<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^passwords?$ /passwords/ [R,L]
  RewriteRule ^passwords/(.*) /password-site/$1 [L]

  RewriteRule ^podcast?$ /podcast/ [R,L]
  RewriteRule ^podcast/(.*) /GetPodcastLink/$1 [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME}index.html !-f
  RewriteRule ^([^\.]+)$ $1.html [L]
</IfModule>

<IfModule mod_headers.c>
  # Do not cache markup files
  <FilesMatch "\.html?$">
    Header set Cache-Control "max-age=0"
  </FilesMatch>

  # Cache rss feed for 2 hours
  <FilesMatch "\.xml$">
    Header set Cache-Control "max-age=7200"
  </FilesMatch>

  # Cache for 2 hours static files that do not get cache busted
  <FilesMatch "\.(gif|ico|jpe?g|png|svg)$">
    Header set Cache-Control "max-age=7200"
  </FilesMatch>

  # Cache for 2 weeks files that the theme will cache bust
  <FilesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=1209600"
  </FilesMatch>
</IfModule>
