p + h1, p + h2, p + h3 {
    margin-top: 30px;
}

.shrunken-image {
    height: 450px;
    width: auto;
}

.border {
    border: 1px solid #aaa;
}

.center {
    display: block;
    margin: 0 auto;
}

strong {
    font-weight: bold;
}

.caption {
    text-align: center;
}

.light-border {
    border: 1px solid #ccc;
}

.three-quarters {
    width: 75%;
}

.retro-side-photo {
    float: right;
    margin-left: 10px;
    max-width: 30%;
}
